<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= categoryName %></title>
  </head>
  <body>
    <h1><%= categoryName %></h1>
    <% if (success) { %>
      <ul>
        <% products.forEach(function(product) { %>
          <li><%= product.name %></li>
        <% }); %>
      </ul>
      <% if (pages > 1) { %>
        <% for (var i = 1; i <= pages; i++) { %>
          <a href="/category/<%= category._id %>?page=<%= i %>"><%= i %></a>
        <% } %>
      <% } %>
    <% } else { %>
      <p><%= message %></p>
    <% } %>
  </body>
</html>
