<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <% if (success && products.length > 0) { %>
        <% products.forEach(function(product) { %>
            <div>
                <h2><%= product.title%></h2>
                <img src="<%= product.image %>" alt="<%= product.name %>"
                <p><%= product.description %></p>
                <p>Price: <%= product.price %></p>
                <p>Category: <%= product.category?.name %></p>
                <p>Owner: <%= product.owner?.name %></p>
            </div>
        <% }); %>
        <div>
            <% if (currentPage > 1) { %>
                <a href="?page=<%= currentPage - 1 %>">Previous</a>
            <% } %>
            <% if (currentPage < pages) { %>
                <a href="?page=<%= currentPage + 1 %>">Next</a>
            <% } %>
        </div>
         <% } else if (success && products.length === 0) { %>
        <p>No products found.</p>
    <% } else { %>
        <p>Error: <%= message %></p>
    <% } %>
</body>
</html>