<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <img src="<%= user.picture %>" alt="Profile Picture">
  <p>Name: <%= user.name %></p>
  <p>Email: <%= user.email %></p>
  <p>Is Seller: <%= user.isSeller %></p>

  <h2>Update Profile</h2>
  <form method="POST" action="/accounts/profile">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= user.name %>"><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= user.email %>"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="isSeller">Is Seller:</label>
    <input type="checkbox" id="isSeller" name="isSeller" value="true" <% if (user.isSeller) { %>checked<% } %>><br><br>
    <button type="submit">Update Profile</button>
  </form>

  <h2>Address</h2>
  <% if (user.address) { %>
    <p><strong>Address 1:</strong> <%= user.address.addr1 %></p>
    <p><strong>Address 2:</strong> <%= user.address.addr2 %></p>
    <p><strong>City:</strong> <%= user.address.city %></p>
    <p><strong>State:</strong> <%= user.address.state %></p>
    <p><strong>Country:</strong> <%= user.address.country %></p>
    <p><strong>Postal Code:</strong> <%= user.address.postalCode %></p>
  <% } else { %>
    <p>Please update your address.</p>
  <% } %>

  <h2>Update Address</h2>
  <form method="POST" action="/accounts/profile">
    <label for="addr1">Address Line 1:</label>
    <input type="text" id="addr1" name="addr1" value="<%= user.address.addr1 %>"><br><br>
    <label for="addr2">Address Line 2:</label>
    <input type="text" id="addr2" name="addr2" value="<%= user.address.addr2 %>"><br><br>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" value="<%= user.address.city %>"><br><br>
    <label for="state">State:</label>
    <input type="text" id="state" name="state" value="<%= user.address.state %>"><br><br>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country" value="<%= user.address.country %>"><br><br>
    <label for="postalCode">Postal Code:</label>
    <input type="text" id="postalCode" name="postalCode" value="<%= user.address.postalCode %>"><br><br>
    <button type="submit">Update Address</button>
  </form>

</body>
</html>
